
  .navbar-default{
    background-color: darkgrey;
  }

  .navbar-default .navbar-brand{
    color: #122B40;
    font-weight: bolder;
  }

  .navbar-default .navbar-nav > li > a{
    color: darkred;
    font-style: oblique;
    font-weight: bold;
  }


