<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid"><!--container che si espande su tutta la width disponibile -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><!--crea bottone quando navbar collassa -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span><!--tre linee orizzontali -->
      </button>

      <a class="navbar-brand" href="#">AlphaTube</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav"><!--allinea orizzontalmente link su navbar -->
        <li><a routerLink="info">Info</a></li>
        <li><a routerLink="content-video">About video</a></li>
        <li><a routerLink="recommender">Recommenders</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet><!-- indica dove deve essere mostrata routed view -->
