<nav class="navbar navbar-default">
  <div class="container-fluid"><!--container che si espande su tutta la width disponibile -->
    <div>
      <a class="navbar-brand" href="#">AlphaTube</a>
    </div>
    <ul class="nav navbar-nav"><!--allinea orizzontalmente link su navbar -->
      <li><a routerLink="info">Info</a></li>
      <li><a routerLink="content-video">About video</a></li>
      <li><a routerLink="recommender">Recommenders</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet><!-- indica dove deve essere mostrata routed view -->
