<nav class="navbar navbar-fixed-top">
    <a class="navbar-brand" href="#">AlphaTube</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li><a class="nav-link" routerLink="/info" href="">Info</a></li>
        <li><a class="nav-link" routerLink="/content-video" href="">About Video</a></li>
        <li><a class="nav-link" routerLink="/recommender" href="">Recommenders</a></li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet><!-- indica dove deve essere mostrata routed view -->
